/* fonts */
@font-face {
    font-family:digital-7;
    src: url('assets/digital-7.ttf');
}

.quicksand-calc {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}



body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d2d9d6;
}

button {
    border-radius: 7px;
    border-color: #f5efeb;
    border-width: thin;
    /* border: none; */
    font-size: 24px;
    width: 46px;
    height: 36px;
    font-family: 'Quicksand', sans-serif;
    margin: 3px;
}

#calculatorDiv {
    display: flex;
    flex-direction: column;
    background-color: #e9e0d6;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 5px 5px #888888;
}

/* display */
#displayDiv {
    display: flex;
    justify-content: right;
    background-color: #a5adad;
    font-size: 54px;
    font-family: digital-7;
    margin: 8px 0px;
}

/* green number buttons */
.numBtn, #decimalBtn {
    background-color: #7f998f;
    color: white;
}

.numBtn:hover, #decimalBtn:hover {
    background-color:#6f877e;
    transition: 0.3s;
}

/* cream math/equal buttons */
.mathBtn, #equalBtn {
    background-color: #ede4db;
}

.mathBtn:hover, #equalBtn:hover {
    background-color:#dbd4cc;
    transition: 0.3s;
}

#clearBtn {
    background-color: #7d4c53;
    color: white;
}

#clearBtn:hover {
    background-color: #6e4349;
    transition: 0.3s;
}

.row {
    display: flex;
    justify-content: space-between;
}

#zero {
    flex: 2;
}

#clearBtn, #equalBtn {
    flex: 2;
}