/* fonts */
@font-face {
    font-family:digital-7;
    src: url('assets/digital-7.ttf');
}

.quicksand-calc {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.righteous-regular {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  

.sora-calc {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d6d9d8;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculatorDiv {
    display: flex;
    flex-direction: column;
    background-color: #e9e0d6;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 5px 5px #888888;
}

/* top of calculator */
#top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo {
        /* width: 75px; */
        font-family: 'Righteous', serif;
        font-size: 14px;
}
#block {
    background-color: #7d4c53;
    width: 85px;
    height: 25px;
}
#corner {
    /* width: 75px; */
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Sora', sans-serif;
}
#twelve {
    font-size: 14px;
    margin-bottom: -2px;
}
#digits {
    font-size: 6px;
    margin-top: -2px;
}

button {
    border-radius: 7px;
    /* border-color: #f5efeb; */
    border: none;
    font-size: 24px;
    width: 46px;
    height: 36px;
    font-family: 'Quicksand', sans-serif;
    margin: 4px;
    box-shadow: 2px 2px #b7b7b7;
}

/* display */
#displayDiv {
    display: flex;
    justify-content: right;
    background-color: #a5acad;
    font-size: 54px;
    font-family: digital-7;
    margin: 8px 0px;
    border-radius: 3px;
}

/* green number buttons */
.numBtn, #decimalBtn {
    background-color: #7f998f;
    color: white;
}

.numBtn:hover, #decimalBtn:hover {
    background-color:#6f877e;
    transition: 0.3s;
}

/* cream math/equal buttons */
.mathBtn, #equalBtn {
    background-color: #ede4db;
}

.mathBtn:hover, #equalBtn:hover {
    background-color:#dbd4cc;
    transition: 0.3s;
}

#clearBtn {
    background-color: #7d4c53;
    color: white;
}

#clearBtn:hover {
    background-color: #6e4349;
    transition: 0.3s;
}

.row {
    display: flex;
    justify-content: space-between;
}

#zero {
    flex: 2;
}

#clearBtn, #equalBtn {
    flex: 2;
}